body {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
}

/* Just for Zizou */
img {
  max-height: 100%;
}

/* Sticky footer */
.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.main-wrapper {
  flex: 1;
}

/* HTML Editor */

.main-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}

.html-editor {
  width: 100%;
  height: 50%;
  border: 0.2rem solid black;
}

.a11y-error {
  position: absolute;
  top: 1em;
  right: 1em;
  border: 1px solid red;
}