:root {
  --clock-dimension: min(min(75vh, 75vw), 30rem);
}

body {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background: #f5f5f5;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.flex-1 {
  flex: 1;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.clock-frame {
  width: var(--clock-dimension);
  height: var(--clock-dimension);
  background: #0a0a0a;
  border-radius: 50%;
}

.clock-center {
  display: flex;
  justify-content: center;
  min-width: 1rem;
  min-height: 1rem;
}

.clock-button {
  background-color: #0a0a0a;
  min-width: 1rem;
  min-height: 1rem;
  border-radius: 50%;
}

.hour {
  padding: 0.5rem;
  color: #f5f5f5;
  width: var(--clock-dimension);
  height: var(--clock-dimension);
}

/* I whish this worked it would have been so elegant
 * https: //developer.mozilla.org/en-US/docs/Web/CSS/attr 
 */

/* [data-hour] {
  transform: rotate(calc(30deg * attr(data-hour)));
  text-align: center;
} */

.hour {
  transform: rotate(calc(30deg * var(--i)));
  text-align: center;
}

.hour span {
  display: block;
  transform: rotate(calc(-30deg * var(--i)));
}

.hand {
  background-color: #f5f5f5;
}

.hour-hand {
  top: 0.5rem;
  height: calc(var(--clock-dimension) * .25);
  width: 1rem;
  transform: rotate(var(--hour));
  transform-origin: top;
  border-radius: 40%;
}

.minute-hand {
  top: 0.5rem;
  height: calc(var(--clock-dimension) * .40);
  width: 1rem;
  transform: rotate(var(--minute));
  transform-origin: top;
  border-radius: 45%;
}

.second-hand {
  top: 0.5rem;
  height: calc(var(--clock-dimension) * .40);
  width: .5rem;
  background-color: #6f00ff;
  transform: rotate(var(--second));
  transform-origin: top;
  border-radius: 50%;
}